.element{
    margin-left: 20px;
    max-width: 100%;
    min-width: 0;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 80px;
    overflow: hidden;
}
.price{
    color: var(--color-blue);
}
.volume{
    color: var(--color-perple)
}
.turnover{
    color: var(--color-green)
}
