.item {
    display: flex;
    padding: 8px 0px;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px var(--color-active);
    cursor: pointer;
    padding-right: 20px;
    &:hover{
        background-color: var(--color-active);
    }
}
.element{
    margin-left: 20px;
    max-width: 100%;
    min-width: 0;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 80px;
    overflow: hidden;
}
.price{
    color: var(--color-blue);
}
.volume{
    color: var(--color-perple)
}
.turnover{
    color: var(--color-green)
}